.progress-wrapper {
  height: 100%;
  flex-grow: 1;
  background-color: white;
}

.progress-cover {
  height: 100%;
  flex-grow: 1;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  animation: fadeIn 0.5s;
}

/* 0.5sの50%なので、最初の0.25sから徐々に表示される
※bundleが0.25s以内の場合はprogress-barが表示されないようにする
※userの環境が重い場合はこの限りではないかも。普通はこれで問題ない
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
